{% extends "base.html" %}
{% block title %}baemin{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class = "container">
  {% if user.is_authenticated %}
    {% if user.parner %}
      환영합니다.
      <div>
        {{user.partner.name}}
      </div>
      <div>
        {{user.partner.contact}}
      </div>
      <div>
        {{user.partner.address}}
      </div>
      <div>
        {{user.partner.description}}
      </div>
    {% else %}
      추가정보를 입력하세요.
      <div class = "row">
        <div class ="col-sm-6 col-sm-offset-3">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-default">저장하기</button>
          </form>
        </div>
      </div>
    {% endif %}
  {% else %}
  <div>로그인 해주세요.</div>
  {% endif %}
{% endblock %}
</div>
