{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<body class="text-center">
  <div class="col-md-6 col-md-offset-3">
    <table class= "table">
      <tr>
        <th>메뉴 사진</th>
        <td><img style="width:200px;" src="{{ menu.image.url }}"></td>
      </tr>
      <tr>
        <th>메뉴 이름</th>
        <td>{{ menu.name }}</td>
      </tr>
      <tr>
        <th>메뉴 가격</th>
        <td>{{ menu.price }}</td>
      </tr>
    </table>
    <a href="/partner/menu/{{ menu.id }}/edit/">
      <button class="btn btn-default btn-block">
        메뉴 수정하기
      </button>
    </a>
    <a href="/partner/menu/{{ menu.id }}/delete/">
      <button class="btn btn-danger btn-block">
        메뉴 삭제하기
      </button>
    </a>
  </div>
</body>
{% endblock%}
